@if (Context.User.Identity.Name != null)
{
    <form asp-controller="Account" asp-action="LogOut" method="post" id="logoutForm" class="flex items-center space-x-4">
        <span class="text-white">
            Hello @Context.User.Identity.Name!
        </span>
        <button type="submit" class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded transition">
            Log off
        </button>
    </form>
}
else
{
    <div class="flex items-center space-x-4">
        @* <a asp-controller="Account" asp-action="Registration" class="text-white hover:underline">Register</a> *@
        <a asp-controller="Account" asp-action="Login" class="text-white hover:underline">
            Log in
        </a>
    </div>
}
